

.top {
    display: flex;
    margin-top: 39px;
    justify-content: space-between;
    h1 {
        color: rgb(0, 0, 0);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
    }
    input {
        padding-left: 40px;
        width: 250px;
        height: 45px;
        box-sizing: border-box;
        border: 1px solid rgb(243, 243, 243);
        border-radius: 10px;
        outline: none;
        background: url('../../assets/search.svg') no-repeat 12px;
    }
}

.cards {
    grid-template-columns: repeat(4,20%);
    display: grid;
    gap: 0 110%;
}