.slider-card {
    margin-top: 45px;
    width: 960px;
    height: 300px;
    border-radius: 20px;
    background: rgb(244, 239, 233);
    .slider-logo {
        margin-top: 16px;
        margin-left: 20px;
    }
    h3 {
        margin-top: 32px;
        margin-left: 60px;
        color: rgb(0, 0, 0);
        font-size: 38px;
        font-weight: 700;
        line-height: 46px;
        span {
            color: rgb(139, 180, 60);
        }
        margin-bottom: 30px;
    }
    .buy {
        margin-left: 60px;
        width: 177.46px;
        height: 47.09px;
        border-radius: 110px;
        background: rgb(165, 211, 100);
        border: none;
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            text-transform: uppercase;
    }
    .slider-img {
        position: relative;
        top: -258px;
        left: 320px;
    }
}
